#finish-button{
  margin-left: 30px;
}

#back-button{
  margin-left: 120px;
}

.foodinput-title{
  font-size: 40px;
  margin-left: 0px;
  margin-top: 0px;
}

.foodinput-scan-pic{
  width: 40px;
  height: 40px;
  margin-left: 40px;
  text-align: center;
}

.page {
  width: 500px;
  padding: 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  /*text-align: center;*/
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.foodinput-form {
  margin-left:50px;
  text-align: right;
  font-weight: 300;
}

.foodinput-form input {
  width: 150px;
}

#foodinputname {
  font-weight: 300;
}

#foodinputpurchasedate {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#foodinputexpirydate {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 20%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
