@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

nav {
  font-family: "Roboto", sans-serif;
  display: flex;
  border-bottom: 3px solid white;
  margin: 0 auto;
  width: 100%;
  height: 92px;
  z-index: 10;
  background-color: #76b852;
  min-width: 600px;
}

nav h1 {
  font-weight: 900;
  min-width: 400px;
  margin-left: 30px;
  margin-top: 20px;
  bottom: 14px;
  color: white;
  font-size: 50px;
}

nav a {
  text-decoration: none;
}

nav h1:hover {
  cursor: pointer;
}

.navbar {
  font-weight: 200;
  display: flex;
  float: right;
  list-style-type: none;
  position: absolute;
  right: 30px;
  overflow: hidden;
}

.navbar li {
  margin: 0;
  white-space: nowrap;
  text-align: right;
  padding: 20px;
  cursor: pointer;
  color: white;
}

.navbar li:hover {
  background-color: #65a741;
  color: #fff;
}

.navbar .icon {
  display: none;
}

.dropdown {
  display: none;
  position: fixed;
  top: 16px;
  right: 80px;
  width: auto;
  background-color: #65a741;
  list-style-type: none;
  width: 120px;
}

.icon:hover .dropdown {
  display: block;
}

/* For Account Page */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:  #252525;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

.overlay img {
  margin-left: 30px;
}

.overlay p {
  padding: 8px;
  font-size: 18px;
  color: rgb(200, 200, 200);
  margin-left: 20px;
  margin-bottom: -10px;
  display: block;
  transition: 0.3s;
}

.overlay a {
  color: rgb(200, 200, 200);
  padding: 0px;
}

.overlay a:hover, .overlay a:focus {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 30px;
}



.UserProfileImage{
  width: 100px;
  height: 100px;
  border-radius: 200px;
  text-align: center;
  margin-block-end: 5px;
  margin-left: 10px;


}

  /* Account Page End */
  /* **** END ****** */


.dropdown li {
  font-family: "Roboto", sans-serif;
  display: none;
  color: white;
  text-align: center;
  padding: 21px;
  position: relative;
  right: 40px;
  width: 98%;
}

.icon:hover .dropdown li {
  display: block;
}

.dropdown li:hover {
  background-color: #585;
}

@media only screen and (max-width: 900px) {
  .navbar li {
    display: none;
  }
  .navbar .icon {
    display: block;
  }
}

.search-kitchen {
  margin-top: 30px;
  height: 50px;
}


#Target {
  width:   30%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}


.search-kitchen input {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 50%;
  margin-left: 10%;
  border: 0;
  padding: 15px;
  font-size: 15px;
  height: 50px;
  float: left;
  margin-right: 10px;
  font-weight: 300;
}

.search-go {
  background-color: #4CAF50;
  width: 8%;
  border: 0;
  color: #FFF;
  font-size: 30px;
  height: 50px;
  float: left;
  cursor: pointer;
}

.search-go:hover,.search-go:active,.search-go:focus {
  background: #43A047;
}

.search-clear {
  position: absolute;
  left: 37%;
  top: 138px;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.add-food {
  float: right;
  background-color: #555;
  width: 10%;
  border: 0;
  color: #FFF;
  font-size: 30px;
  height: 50px;
  margin-right: 10%;
  cursor: pointer;
}

.add-food:hover,.add-food:active,.add-food:focus {
  background: #333;
}

.food-table {
  border: 4px solid #555;
  height: 400px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  overflow-y: scroll;
}

.sorter {
  cursor: pointer;
}

.sorter:hover {
  background-color: #666 !important;
  color: white !important;
}

#delete_trash {
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 15px;
}

#delete_trash:hover {
  background-color: #4CAF50;
}

.edit {
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 15px;
}
.edit:hover{
  background-color: #4CAF50;
}

table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 2px solid #555;
  text-align: left;
  padding: 8px;
}

td {
  font-weight: 300;
}

#finish-button{
  margin-left: 30px;
}

#finish-button-edit{
  margin-left: 30px;
}

#back-button{
  margin-left: 120px;
}

#back-button-edit{
  margin-left: 120px;
}

.foodinput-title{
  font-size: 40px;
  margin-left: 0px;
  margin-top: 0px;
}

.foodinput-scan-wrapper{
  width: 60px;
  height: 60px;
  margin-left: 30px;
  /* margin-top: px; */
  text-align: center;
}

#scanButton{
  /* background-image: url(images/scan.jpg); */
  padding: 0px;
  background-color: inherit;
  margin-left: 0px;
  height: inherit;
  width: inherit;
}

.foodinput-scan-pic{
  width: 40px;
  height: 40px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.foodinput-form {
  margin-left:50px;
  text-align: right;
  font-weight: 300;
}

.foodedit-form {
  margin-right:115px;
  text-align: right;
  font-weight: 300;
}

.foodinput-form input {
  width: 150px;
}

#foodinputname {
  font-weight: 300;
}

#foodinputpurchasedate {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#foodinputexpirydate {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 20%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 200px;
  left: 50%;
  margin-left: -270px;
  width: 500px;
  border: 20px solid #76b852;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.modal tr, .modal td {
  border: 0;
}

.confirm-table {
  border: 4px solid #555;
  height: 200px;
  width: 80%;
  margin: auto;
  margin-top: 15px;
  overflow: scroll;
}

#confirm-text{
  font-size: 40px;
  margin-left: 20px;
  margin-top: 20px;
}

.confirm-button{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 20%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.confirm-table td, th{
  border: 2px solid #555;
  text-align: left;
  padding: 8px;
}
#confirm-finish-button{
  margin-left: 30px;
}

#confirm-back-button{
  margin-left: 120px;
}
.card {
  width: 80%;
  margin: auto;
}

.head-row {
  padding: 20px;
  text-align: center;
  margin: auto;
  font-size: 40px;
}

.btn-outline-primary {
  background-color: #4CAF50;
  width: 80px;
  border: 0;
  color: #FFF;
  font-size: 30px;
  height: 50px;
  cursor: pointer;
}

.btn-outline-primary:hover {
  background: #43A047;
}

#previous {
  -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
    margin-right: 30px;
}

#next {
  margin-left: 30px;
}

#cal-days {
  height: 80px;
  background-color: #999;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}

#cal-days th {
  text-align: center;
}

.card tbody td {
  height: 80px;
  width: 14%;
  vertical-align: top;
}

.cal-today {
  background-color: #6babdb;
  color: white;
}

.cal-yellow {
  background-color: #ede857;
  cursor: pointer;
}

.cal-yellow:hover {
  background-color: #bbb;
}

.cal-orange {
  background-color: #f9a939;
  color: white;
  cursor: pointer;
}

.cal-orange:hover {
  background-color: #bbb;
  color: black;
}

.cal-red {
  background-color: #ed3b3b;
  color: white;
  cursor: pointer;
}

.cal-red:hover {
  background-color: #bbb;
  color: black;
}

.food_count {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: -10px;
}

.cal-modal {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: auto;
  display: none;
  position: absolute;
  z-index: 1;
  top: 200px;
  left: 50%;
  margin-left: -270px;
  width: 500px;
  border: 20px solid #76b852;
  background-color: white;
  color: black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.date_title {
  text-align: center;
}

.cal-modal p {
  margin-left: 25px;
}

.popup_date {
  position: relative;
  margin-top: -35px;
  float: right;
  margin-right: 25px;
}

.close_button {
  float: right;
  right: 30px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 15px;
  position: absolute;
}

.close_button:hover {
  font-weight: bold;
}
