@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body {
  margin: 0;
}

nav {
  font-family: "Roboto", sans-serif;
  display: flex;
  border-bottom: 3px solid white;
  margin: 0 auto;
  width: 100%;
  height: 92px;
  z-index: 10;
  background-color: #76b852;
  min-width: 600px;
}

nav h1 {
  font-weight: 900;
  min-width: 400px;
  margin-left: 30px;
  margin-top: 20px;
  bottom: 14px;
  color: white;
  font-size: 50px;
}

nav a {
  text-decoration: none;
}

nav h1:hover {
  cursor: pointer;
}

.navbar {
  font-weight: 200;
  display: flex;
  float: right;
  list-style-type: none;
  position: absolute;
  right: 30px;
  overflow: hidden;
}

.navbar li {
  margin: 0;
  white-space: nowrap;
  text-align: right;
  padding: 20px;
  cursor: pointer;
  color: white;
}

.navbar li:hover {
  background-color: #65a741;
  color: #fff;
}

.navbar .icon {
  display: none;
}

.dropdown {
  display: none;
  position: fixed;
  top: 16px;
  right: 80px;
  width: auto;
  background-color: #65a741;
  list-style-type: none;
  width: 120px;
}

.icon:hover .dropdown {
  display: block;
}

.dropdown li {
  font-family: "Roboto", sans-serif;
  display: none;
  color: white;
  text-align: center;
  padding: 21px;
  position: relative;
  right: 40px;
  width: 98%;
}

.icon:hover .dropdown li {
  display: block;
}

.dropdown li:hover {
  background-color: #585;
}

@media only screen and (max-width: 900px) {
  .navbar li {
    display: none;
  }
  .navbar .icon {
    display: block;
  }
}

.search-kitchen {
  margin-top: 30px;
  margin-left: 10%;
  height: 50px;
}

.search-kitchen input {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 50%;
  border: 0;
  padding: 15px;
  font-size: 15px;
  height: 50px;
  float: left;
  margin-right: 10px;
  font-weight: 300;
}

.search-kitchen button {
  background-color: #4CAF50;
  width: 80px;
  border: 0;
  color: #FFF;
  font-size: 30px;
  height: 50px;
  float: left;
}
